<h1>ShoppingLists :</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.status %></td>
          <td><%= list.updated_at %> </td>
          <td><%= link_to 'Show', list, class: "btn btn-primary btn-sm" %>
          <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New List', lists_path, method: :post, class: "btn btn-success btn-sm" %>
