<% unless @list.closed? %>
<h1>To buy</h1>
<table id="product-list" class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
     <%= simple_form_for @product, url: add_product_list_path(@list) do |f| %>
    <tr>
      <td style="width:250px;"><%= f.input_field :name %></td>
      <td style="width:250px;"> <%= f.submit "Add Product" , class: "btn btn-primary" %></td>
    </tr>
  <% end %>
  <% @products.each do |product| %>
    <tr>
      <td> <%= product.name %> </td>
      <td>
        <%= link_to "Bought", bought_product_path(product), data: {id: product.id }, class: "btn btn-primary btn-sm bought_product"%>
        <%= link_to "Remove", products_path(product), data: {id: product.id }, class: "btn btn-danger btn-sm remove_product" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Close List", close_list_path(@list), method: "put",  class: "btn btn-danger btn-sm remove_product" %>
<% end %>
<h1>Bought</h1>
<center>
<div id="boughts">
<table id="product-list" style="max-width:200px;" class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @boughts.each do |product| %>
    <tr>
      <td> <%= product.name %> </td>
      <td>
         <%= link_to "Remove", products_path(product), data: {id: product.id }, class: "btn btn-danger btn-sm remove_product" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</center>
<%= link_to 'Back', lists_path %>
