<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div style="color :red; "><%= devise_error_messages! %></div>
<h2 class="form-signin-heading">Please sign up</h2>
    <%= f.input_field :email, :required => true, :autofocus => true,:placeholder=>"Enter your email" %>
    <%= f.input_field :password, :required => true, :placeholder=>"Enter your password" %>
    <%= f.input_field :password_confirmation, :required => true, :placeholder=>"Repeat your passoword" %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>    
    <div style="margin-top:10%;text-align:right;">
    <%= render "devise/shared/links" %>
    </div>

<% end %>

