<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name),
                    :html => { :method => :post },
                    :defaults=>{:wrapper_html => {:class => 'form-group'},label:false,
                                :input_html => { :class => 'form-control' }}, :html=>{class: "form-signin"}) do |f| %>
                                <h2 class="form-signin-heading">Send me password</h2>
                                <%= f.input_field :email, :required => true,:placeholder=> "Enter your email" %>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
                                <div style="margin-top:10%;text-align:right;">
                                  <%= render "devise/shared/links" %>
                                </div>
<% end %>
