<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <h2 class="form-signin-heading">Please sign in</h2>
    <%= f.input_field :email, :required => false, :autofocus => true, :placeholder=>"Email address"%>
    <%= f.input_field :password, :required => true, :placeholder => "Password"%>
    <%= f.input :remember_me, :as => :boolean, label:"Remember me?"   if devise_mapping.rememberable? %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div style="margin-top:10%;text-align:right;">
    <%= render "devise/shared/links" %>
    </div>
<% end %>
