/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#product_name
{
  width: 250px;
}
@import "bootstrap";

form{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
form .form-signin-heading,
form .checkbox {
  margin-bottom: 10px;
}
form .checkbox {
  font-weight: normal;
}
form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
form .form-control:focus {
  z-index: 2;
}
form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
form .edit_email {
  margin-bottom: 10px !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
