<table id="product-list" style="max-width:200px;" class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @boughts.each do |product| %>
    <tr>
      <td> <%= product.name %> </td>
      <td>
         <%= link_to "Remove", products_path(product), data: {id: product.id }, class: "btn btn-danger btn-sm remove_product" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

