<!DOCTYPE html>
<html>
<head>
  <title>ShoppingList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-5">
      <%= link_to('Lists',lists_path) %> |
      <%= link_to('My account', edit_user_registration_path) %> |
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="notices">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
      </div>
     <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
